<section class="block container block-domain">
    <header class="block__header">
        <h2>Starting at £20 per month</h2>
        <p>Get profesional advice and training tips so you and your dog can enjoy your time together.</p>
    </header>
    <div class="input-group">
                    <input type="text" class="input" placeholder="Enter breed here..." />
        <button class="btn btn--accent">
            <svg class="icon icon--white">
                <use xlink:href="images/sprite.svg#menu"></use>
            </svg>Search</button>
    </div>
    <ul class="list block-domain__prices">
        <li>pawshake</li>
        <li>sit</li>
        <li><span class="badges badge--secondary">down</span></li>
        <li>wait</li>
        <li>heel</li>
        <li>watch me</li>
    </ul>
</section>
