<nav class="nav collapsible">
    <div class="logo-container"> 
    <a href="/"><img src="images/logooo.svg" width="80" alt=""></a>
    <h3 class="logoname">DoggoNo!</h3>
    </div>
    <svg class="icon icon--white nav__toggler">
        <use xlink:href="images/sprite.svg#search"></use>
    </svg>
    <ul class="list nav__list collapsible__content">
        <li class="nav__item"><a href="#">Tips </a></li>
        <li class="nav__item"><a href="#">Online Lessons</a></li>
        <li class="nav__item"><a href="#">Pricing</a></li>
        <li class="nav__item"><a href="#">Contact</a></li>
    </ul>
</nav>

<script src="js/main.js"></script>